.body{
    display: flex;
    flex-direction: column;    
    align-items: center;
}

.table{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.tbody{
    padding-right: 40px;
}

.thead{
    padding-right: 90px;
}
.theadprice{
    padding-right: 42px;
}